@charset 'UTF-8';

.header-global-default              { max-height: 45px; min-width: 100vw; max-width: 100vw; background-color: #fff; }
.footer-global-default              { position: fixed; bottom: 0px; min-width: 100vw; max-width: 100vw; max-height: 45px; background-color: transparent; }
.logo-header                        { max-width: 24px; }
.h-link                             { color: #202040; font-family: 'Nunito Bold', Arial, Helvetica, sans-serif; font-size: 12px; }
.h-link:hover                       { cursor: pointer; }
.bar                                { border: 1.5px solid #000; border-radius: 8px; }
.deco-bar                           { min-width: 30px; border: 1.5px dashed #fff; border-radius: 8px; }

.copy, .authors                             { color: #fff; font-family: 'Nunito ExtraBold', Arial, Helvetica, sans-serif; font-size: 11px; }
.authors                                    { color: #000; }
.author-link:hover                          { cursor: pointer ;}
.promo                                      { display: none; }
.bg-black-footer                    { position: absolute; bottom: 0px; min-height: 40px; min-width: 80vw; right: 0px;  background-color: #10375c; z-index: -1; }

@media all and (max-width: 1120px)   {
    .authors        { display: none; }
    .logo-header    { display: none; }
    .h-logo         { display: none; }
    .header-global-default { justify-content: center;}
    .footer-global-default { justify-content: space-around; }
    .bg-black-footer       { min-width: 100vw; }
}